@use "./../../styles/variables";
@use "./../../styles/mixin";

.navbar {
  background-color: variables.$white;
  position: sticky;
  top: 0;
  z-index: 99;

  &__inner {
    display: flex;
    max-width: 75rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-inline: auto;
    position: relative;
    column-gap: 1.5rem;
    position: relative;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }

  &__hamburger {
    @include mixin.button-base;
    @include mixin.button-icon;
  }

  &__hamburgerClose {
    @include mixin.button-base;
    @include mixin.button-icon;
    display: flex;
    align-items: center;
    padding: 0;
  }

  &__hamburgerCloseIcon {
    width: 16px;
    height: 16px;
  }

  &__cart {
    @include mixin.button-base;
    @include mixin.button-icon;
  }

  &__profile {
    @include mixin.button-base;
    width: 24px;
    height: 24px;
    position: relative;

    &:hover {
      border: 2px solid variables.$orange;
      border-radius: 50%;
    }
  }

  &__links {
    position: absolute;
    flex-direction: column;
    background-color: variables.$white;
    top: 0;
    left: -999px;
    padding: 1.5rem;
    width: 80%;
    height: 100vh;
    row-gap: 2.5rem;
    display: none;
    transition: 0.3s;
    display: flex;
    z-index: 999;

    &--active {
      left: 0;
    }
  }

  &__overlay {
    background-color: variables.$black;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: -9999px;
    z-index: 99;

    &--active {
      left: 0;
      transition: opacity 0.5s;
      opacity: 0.75;
    }
  }

  &__linksInner {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
  }

  &__link {
    text-decoration: none;
    color: variables.$black;
    font-weight: 700;
  }

  &__line {
    display: none;
  }

  &__cartContainer {
    position: absolute;
    right: 0;
    top: 70%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    width: 100%;
    padding: 0.5rem;

    &--active {
      top: 80%;
      visibility: visible;
      opacity: 1;
    }
  }

  &__cartInner {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: variables.$white;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.15);
    cursor: default;
    padding: 1.5rem;
    width: 100%;
    position: relative;
    box-shadow: 0px 17px 44px -23px rgba(0, 0, 0, 0.74);
  }

  &__empty {
    display: flex;
    justify-content: center;
    padding-block: 5rem;
  }

  &__emptyText {
    font-weight: 700;
    color: variables.$dark-grayish-blue;
  }

  &__header {
    height: 4rem;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__titleLine {
    position: absolute;
    top: 4.5rem;
    width: 100%;
    left: 0;
    border-color: variables.$light-grayish-blue;
  }

  &__remove {
    @include mixin.button-base;
    @include mixin.button-icon;
    width: 16px;
    height: 16px;
    position: relative;
  }

  &__checkout {
    @include mixin.button-base;
    @include mixin.primary-button;
  }

  &__name {
    font-size: 1rem;
    color: variables.$dark-grayish-blue;
  }

  &__imageContainer {
    position: relative;
    width: 44px;
    aspect-ratio: 1;
    border-radius: 8px;
    overflow: hidden;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }

  &__cartItemInformation {
    display: flex;
    flex-direction: column;
  }

  &__price {
    display: flex;
    color: variables.$dark-grayish-blue;
    column-gap: 0.5rem;
  }

  &__total {
    color: variables.$black;
    font-weight: 700;
  }

  &__cartNumber {
    position: absolute;
    top: -10px;
    right: -15px;
    border-radius: 8px;
    padding: 0px 10px;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: variables.$orange;
    color: variables.$white;
  }
}

@media screen and (min-width: variables.$medium) {
  .navbar {
    &__hamburger {
      display: none;
    }

    &__cartContainer {
      margin-inline: initial;
      right: 2rem;
      max-width: 400px;
    }

    &__line {
      all: unset;
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      border: 1px solid variables.$light-grayish-blue;
    }

    &__left,
    &__right {
      column-gap: 2.5rem;
    }

    &__hamburgerClose {
      display: none;
    }

    &__links {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      position: relative;
      height: fit-content;
      padding: 0;
      width: fit-content;
      left: 0;
    }

    &__linksInner {
      flex-direction: row;
      display: flex;
    }

    &__link {
      font-weight: 300;
      position: relative;
      color: variables.$dark-grayish-blue;

      &:hover {
        color: variables.$black;
      }

      &:hover::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        top: 58px;
        background-color: variables.$orange;
      }
    }

    &__profile {
      width: 42px;
      height: 42px;
    }

    &__overlay {
      display: none;
    }
  }
}
